* {
	padding: 0px;
	margin: 0px;
	font-family: "Dancing Script", cursive;
}
body {
	margin: 0;
	padding: 0;

	background: url(/image/bg_recipe.jpg);
	background-size: 100% auto;
	background-color: #ffffff;
}
@media only screen and (max-width: 1200px) {
	body {
		background: url(/image/bg.jpg);
		background-size: 100% auto;
	}
}
form {
	margin-top: 20px;
}

/* nav*/
.brand-logo {
	font-family: "Dancing Script", cursive;
}
.input-recipe::placeholder {
	color: #6e6363;
}

.btn_start {
	background-color: #f5f57f;
	font-size: 2vw;
}

.container {
	width: 90%;
}
.recipeList-container {
	display: flex;
	flex-wrap: wrap;
}
/*css for  summary cards*/
.card {
	width: 320px;
	border-radius: 30px;
	margin: auto;
}
.card img {
	height: 300px;
	border-radius: 30px;
}
.card_detail {
	display: block;
	padding: 20px;
	box-sizing: border-box;
	background-color: #f3f7eb;
	height: auto;
	width: 80%;
	border-radius: 10px;
	margin: auto;
	margin-top: 30px;
	font-family: "Oswald", sans-serif;
}
.card_detail :hover {
	background-color: #fcfcf7;
	border-radius: inherit;
}
.card_detail img {
	box-sizing: border-box;
	padding: 10px;
	border-radius: 20px;
}
.card_detail h2,
.card_detail h3,
h3 {
	font-family: "Pacifico", cursive;
	color: #6e6363;
}
.col,
span,
h6 {
	font-family: "Roboto", sans-serif;
	font-size: 17px;
}
.card_detail .icon {
	color: #cc7c7c;

	font-size: 40px;
}
.source {
	background-color: #f5f57f;
	border-radius: 40%;
	transform: rotate(-5deg);
	width: 50%;
	margin: auto;
}
.card_detail h5,
.card_detail h4 {
	font-family: "Dancing Script", cursive;
}

.ingredient {
	display: flex;
	flex-wrap: wrap;
}
.ingredient img {
	box-sizing: border-box;
	background-color: #ffffff;
	height: 200px;
	width: 200px;
	border-radius: 10px;
	margin: 5px;
}
.ingredient h5 {
	position: relative;
	font-size: 15px;
	top: -100px;
	width: inherit;
}
