* {
	padding: 0px;
	margin: 0px;
	font-family: "Varela Round", sans-serif;
}
body {
	background: url(/image/bg.jpg);
	background-size: 100% auto;
	background-color: #ffffff;
}
.card {
	padding: 10px;
}
.card img {
	border-radius: 50%;
	height: 130px;
}
.card h6 {
	font-weight: 700;
}
.card .label {
	font-weight: 600;
}
