* {
	padding: 0px;
	margin: 0px;

	font-family: "Varela Round", sans-serif;
}
body {
	margin: 0;
	padding: 0;

	background-image: url(/image/cold.jpg);
	background-repeat: no-repeat;
	background-size: auto;
	background-color: rgb(255, 255, 255);
}
.note-area {
	width: 100%;
	padding: 20px;
}
.note-area .heading {
	display: inline;
	margin: 10px;
}
.input-note-name::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: rgb(60, 196, 166);
	opacity: 1; /* Firefox */
}
.btn {
	border-radius: 40%;
	font-size: 30px;
	font-weight: 600;
}
.flex {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.card {
	height: 400px;
	width: 300px;
	margin: 10px;
	padding: 10px;
	margin: auto;
	margin-bottom: 40px;
}
.card .heading {
	font-size: 15px;
	font-weight: 600;
	color: rgb(68, 67, 67);
}
.note-container {
	background-color: rgba(2, 136, 74, 0.432);
	height: 330px;
	width: inherit;
	padding: 5px;
	word-wrap: break-word;
	overflow: auto;
}
.text-area {
	height: 100%;
	width: 100%;
	border: 0px;
}

.delete {
	color: rgb(184, 118, 118);
	background-color: transparent;
	border: 0px;
	cursor: pointer;
}
.edit {
	background-color: transparent;
	border: 0px;
	color: rgb(103, 168, 103);
	cursor: pointer;
}
